<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="licenses">
    {{#licenses}}
    {{#pkg.homepage}}
    <a href="{{{pkg.homepage}}}">
    {{/pkg.homepage}}
      <h3 id="{{{pkg.name}}}">{{pkg.name}}</h3>
    {{#pkg.homepage}}
    </a>
    {{/pkg.homepage}}
    {{#text}}
    <blockquote>
      {{.}}
    </blockquote>
    {{/text}}
    {{/licenses}}
  </div>
  <style>
    .licenses blockquote {
      white-space: pre-wrap;
      background-color: whitesmoke;
      padding-left: 1rem;
      padding-right: 1rem;
      display: inline-block;
      width: 50%;
    }

    @media only screen and (max-width: 768px) {
      .licenses blockquote {
        width: 100%;
        margin: 0px;
      }
    }

    @media only screen and (min-width: 768px) {
      body {
        margin-left: 10vw;
      }
    }

    .licenses h3 {
      font-family: sans-serif;
    }
  </style>
</body>
